@import "tailwindcss";
/* @tailwind utilities; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-bp4: 400px;
  --breakpoint-bp5: 500px;
  --breakpoint-bp6: 600px;
  --breakpoint-bp7: 700px;
  --breakpoint-bp8: 800px;
  --breakpoint-bp9: 900px;
  --breakpoint-bp10: 1000px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* *{
  padding: 0;
  margin: 0;
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: Overpass, Dosis, "DM Serif Display", Arial, Helvetica, sans-serif; */

  font-family: Overpass, Arial, Helvetica, sans-serif;
  /* font-family: "DM Serif Display", Arial, Helvetica, sans-serif; */
  /* font-family: Dosis, Arial, Helvetica, sans-serif; */

  overflow-x: hidden;
  overflow-y: hidden;
}

.overpass{
  font-family: Overpass, Arial, Helvetica, sans-serif;
}

.dosis {
  font-family: Dosis, Arial, Helvetica, sans-serif;
}

.dmd {
  font-family: "DM Serif Display", Arial, Helvetica, sans-serif;
}

.text_1 {
  font-size: 13px !important;
}